{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-4 p-3">                
            <div class="col-lg-3 col-md-4 col-11 mx-auto">
                <h5 class="quotes p-4 shadow">
                    {{ room.title }}
                </h5>
                <p>
                    {{ room.content }}
                </p>
                <p>
                    A partir de {{ room.price }} € la nuit
                </p>
                <div class="col {{ app.request.get('_route') == 'app_room_contact' }}">
                    <a class="btn btn-lg m-3 " id="btn-connexion" href="{{ path('app_room_contact', {'id': room.id}) }}">Réserver</a>
                </div>


            </div>
            <div class="row col-lg-6 col-md-7 col-11 mx-auto p-2">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    {% for image in room.images %}  
                        <div class="carousel-inner">
                            <div class="carousel-item{% if loop.index0 == 0 %} active {% endif %}">
                                <img src={{ asset('img/room/') ~ image.name }} class="d-block img-fluid img-thumbnail" style="width:100%" alt="service">
                            </div>
                        </div>
                    {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>               
            </div>
            <div class="row col-lg-6 col-md-7 col-11 mx-auto p-2">
                <div class="container">
                    <div class="m-3 p-3" id="reviewFormContainer" style="display: none;">
                        <h2>Laisser un avis</h2>
                        {{ include('review/_form.html.twig', {'button_label': 'Envoyer', 'form': reviewForm}) }}
                    </div>
                    <button class="m-3 p-3" id="showReviewFormBtn">Laisser un avis</button>
                </div>
            </div>
            <div id="reviewContainer" class="row justify-content-between align-items-stretch text-center text-lg-start p-3">
                {% for review in reviews %}
                    {% if(review.validate == true) %}
                        <div class="col-lg-3 col-md-5 col-12 mb-4 text-center justify-content-center shadow fade-in">
                            <h4>{{ review.pseudo }}</h4>
                            <div class="rating-container theme-krajee-fas rating-sm m-3">
                                {% for i in 1..review.rating %}
                                    <span class="star">
                                        <i id="show-star" class="fas fa-star"></i>
                                    </span>
                                {% endfor %}
                            </div>
                            <div class="d-inline align-text-top">
                                <p>{{ review.comment }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('review') }}
            
{% endblock %}