{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-between align-items-stretch text-center text-lg-start m-3 p-3">                
            {% for room in rooms %}
                <div class="col-lg-5 col-md-7 col-11 mb-4 text-center justify-content-center shadow fade-in">
                    <h7 class="quotes p-4 shadow">
                        {{ room.title }}
                    </h7>
                    <a href="#" class="d-block mb-4">
                        <img src={{ asset('img/room/') ~ room.images[0].name }} class="img-fluid img-thumbnail active" style="width:100%" alt="service">
                    </a>
                    <p>{{ room.content|slice(0, 50) }}...</p>
                    <p>A partir de {{ room.price }} €</p>

                    <div class="col {{ app.request.get('_route') == 'roomDetail' }}">
                        <a class="btn btn-lg m-3" id="btn-connexion" href="{{ path('roomDetail', {'id': room.id}) }}">Voir plus</a>
                    </div>                    
                    <div class="row col-lg-6 col-md-7 col-11 mx-auto p-2">

                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>

{% endblock %}
