{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div id="contact-form" class="col-lg-6 col-md-8 col-11 mx-auto mt-4 mb-4 p-3 text-center shadow" >
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-lg m-3" id="btn-connexion">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}
