{% extends 'base.html.twig' %}

{% block title %}Hello RestaurantController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row m-4 p-3">           
            <div class="presentation col-lg-5 col-md-4 col-11 m-4 p-3 shadow">
                <h2 class="quotes p-4 shadow">
                    <em>Un cadre magique</em>
                </h2>
                <div class="p-2">
                    <p>Dans une ambiance chaleureuse et authentique, laissez vous charmer par la vue exceptionnelle sur l’océan qui se contemple depuis chaque table du restaurant.</p>

                    <p>Dans le cadre unique de ce restaurant baigné de lumière, partagez, en toute convivialité, une expérience bistronomique véritablement unique et inoubliable à Oléron</p>

                    <p>A travers une cuisine simple, sensible et iodée, le chef propose des plats qui font la part belle aux saveurs iodées et au riche terroir du Pays de l’île.</p>

                </div>           
            </div>
            <div class="row col-lg-5 col-md-7 col-11 mx-auto p-2 fade-in">
                <img src={{asset('img/restaurant-5521372_1280.jpg')}} alt="Restaurant" id="img-Restaurant" class="img-fluid img-thumbnail active">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row m-4 p-3">           
            <div class="presentation col-lg-5 col-md-4 col-11 m-4 p-3 shadow">
                <h2 class="quotes p-4 shadow">
                    <em>Menus</em>
                </h2>
                <div class="p-2">
                {% for menu in menus %} 
                    <h4 class="p-4 shadow">
                        {{ menu.name }}
                    </h4>
                    <p>{{ menu.price }} €</p>
                    {% for starterMenu in menu.starter %}
                        <p class="text-center p-4">- Entrée -</p>
                        <p class="p-4 shadow">
                            {{ starterMenu.name }}
                        </p>
                    {% endfor %} 
                    {% for dishMenu in menu.dish %}
                        <p class="text-center p-4">- Plat -</p>
                        <p class="p-4 shadow"> 
                            {{ dishMenu.name }}
                        </p>
                    {% endfor %}
                    {% for dessertMenu in menu.dessert %}
                        <p class="text-center p-4">- Dessert -</p>
                        <p class="p-4 shadow">
                            {{ dessertMenu.name }}
                        </p>
                    {% endfor %} 
                {% endfor %}
                </div>           
            </div>
            <div class="menu col-lg-5 col-md-4 col-11 m-4 p-3 shadow">
                <h2 class="quotes p-4 shadow">
                    <em>Les entrées</em>
                </h2>
                <div class="p-2">
                {% for starter in starters %} 
                    <p class="p-2 shadow">
                        {{ starter.name }}
                        {{ starter.price }} €
                    </p>
                {% endfor %} 
                </div>
                <h2 class="quotes p-4 shadow">
                    <em>Les plats</em>
                </h2>
                <div class="p-2">
                {% for dish in dishs %} 
                    <p class="p-2 shadow">
                        {{ dish.name }}
                        {{ dish.price }} €
                    </p>
                {% endfor %} 
                </div>
                <h2 class="quotes p-4 shadow">
                    <em>Les desserts</em>
                </h2>
                <div class="p-2">
                {% for dessert in desserts %} 
                    <p class="p-2 shadow">
                        {{ dessert.name }}
                        {{ dessert.price }} #
                    </p>
                {% endfor %} 
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-6 col-md-7 col-11 mx-auto p-2">
        <div class="container">
            <div class="m-3 p-3" id="reviewFormContainer" style="display: none;">
                <h2>Laisser un avis</h2>
                {{ include('review/_form.html.twig', {'button_label': 'Envoyer', 'form': form}) }}
            </div>
            <button class="m-3 p-3" id="showReviewFormBtn">Laisser un avis</button>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('review') }}
            
{% endblock %}
