<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="{{ asset('styles/mobiscroll.jquery.min.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('styles/star-rating.css') }}">
        <link href="{{ asset('themes/krajee-fas/theme.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('themes/krajee-svg/theme.css') }}" media="all" rel="stylesheet" type="text/css"/>        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="col mainCenter">
            <header>
                <div class="d-flex justify-content-center m-3">
                    <a class="navbar-brand" href="#">
                        <img src={{asset('img/logo/logo.png')}} alt="logo" id="img-logo" class="img-fluid img-thumbnail active">
                    </a>  
                </div>                       
                <nav>
                    <a href="#" class="nav-icon" aria-label="homepage" aria-current="page">
                        <span>Regatta</span>
                    </a>
                    <div class="main-navlinks">
                        <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="navlinks-container">
                            <a href="{{ path('Homepage') }}">Accueil</a>
                            <a href="{{ path('app_hotel') }}">Hôtel</a>
                            <a href="{{ path('app_restaurant') }}">Restaurant</a>
                            <a href="{{ path('app_contact') }}">Contact</a>
                        </div>
                    </div>

                    <div class="nav-authentication">
                        {% if app.user %}
                            <div class="navlinks-container">
                                <span class="nav-link">Bienvenue !</span>
                                <a class="nav-link" href="{{ path('app_room_index') }}">Gestion des chambres</a>
                                <a class="nav-link" href="{{ path('app_menu_index') }}">Gestion des menus</a>
                                <a class="nav-link" href="{{ path('app_starter_index') }}">Gestion des entrées</a>
                                <a class="nav-link" href="{{ path('app_dish_index') }}">Gestion des plats</a>
                                <a class="nav-link" href="{{ path('app_dessert_index') }}">Gestion des desserts</a>
                                <a class="nav-link" href="{{ path('show_review') }}">Gestion des avis</a>
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="user-toggler" aria-label="Sign in page">
                                <img src={{asset('img/ressources/user.svg')}} alt="user icon" />
                            </a>
                            <div class="sign-btns">
                                <a href="{{ path('app_login') }}" class="btn-connexion p-3">Connexion</a>
                            </div>
                        {% endif %}
                    </div>
                </nav>

            </header>
            {% block body %}{% endblock %}
            <footer>
                <div class="position-absolute justify-content-center p-4" id="hours">
                    <div class="container">
                        <div class="row text-center align-items-baseline ">
                            <div class="d-inline col-lg-4 col-md-6 col-12">
                                <div class="fw-bolder">
                                    Réseaux sociaux :
                                </div>
                                <div class="row row-cols-4 social-buttons">
                                    <a href="#" class="col" target="_blank" rel="noopener">
                                        <i class="fab fa-facebook" area-hidden="true">
                                        </i>
                                    </a>
                                    <a href="#" class="col" target="_blank" rel="noopener">
                                        <i class="fab fa-twitter" area-hidden="true">
                                        </i>
                                    </a>
                                    <a href="#" class="col" target="_blank" rel="noopener">
                                        <i class="fab fa-youtube" area-hidden="true">
                                        </i>
                                    </a>
                                    <a href="#" class="col" target="_blank" rel="noopener">
                                        <i class="fab fa-instagram" area-hidden="true">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-inline col-lg-4 col-md-6 col-12">
                                <div class="fw-bolder">
                                    Nous contacter :
                                </div>
                                <ul class="list-unstyled openning-hours">
                                    <li class="nav-item">
                                    </li>
                                    <li class="">
                                        Téléphone : 03-XX-XX-XX-XX
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Formulaire de contact</a>
                                    </li>                                    
                                </ul>
                            </div>
                            <div class="d-inline col-lg-4 col-md-6 col-12">
                                <div class="fw-bolder">
                                    Mentions légales :
                                </div>
                                <ul class="list-unstyled openning-hours">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Politiques de confidentialités</a>
                                    </li>                            
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
        <script src="https://kit.fontawesome.com/c2a84b56c5.js" crossorigin="anonymous"></script>
        <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.js'></script>
        <script src="{{ asset('star-rating.js') }}" type="text/javascript"></script>
        <script src="{{ ('themes/krajee-fas/theme.js') }}" type="text/javascript"></script>
        <script src="{{ ('themes/krajee-svg/theme.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/mobiscroll.jquery.min.js') }}" type="text/javascript"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
