{% extends 'base.html.twig' %}

{% block title %}Starter index{% endblock %}

{% block body %}
<div class="col-11 mx-auto">
    <h3 class="quotes p-4 shadow">Starter index</h3>
    <a href="{{ path('app_starter_new') }}">Créer une entrée</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for starter in starters %}
            <tr>
                <td>{{ starter.id }}</td>
                <td>{{ starter.name }}</td>
                <td>{{ starter.price }}</td>
                <td>
                    <a href="{{ path('app_starter_show', {'id': starter.id}) }}">show</a>
                    <a href="{{ path('app_starter_edit', {'id': starter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_starter_new') }}">Créer une entrée</a>
</div>
{% endblock %}
